{% extends 'core/base.html' %}
{% block title %} Dashboard {% endblock %}

{% block extra_head %}
{% endblock %}

<!-- {% block body_class %} Home {% endblock %} -->

{% load bootstrap4 %}
{% bootstrap_css %}

{% block crumbs %}
    {{ block.super }}
    {% if not employee %}
    <li class="breadcrumb-item active">New Employee</li>
    {% else %}
    <li class="breadcrumb-item active">{{ employee.get_full_name }}</li>
    {% endif %}
{% endblock crumbs %}

{% block content %}
<div class="card" style="width: 28rem;">
  <div class="card-body">
    <h5 class="card-title">Add new employee</h5>
    <p class="card-text">
      <form method="POST" class="post-form">
        {% csrf_token %}
        {% bootstrap_form form %}
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="#" class="btn btn-primary">Save and add another</a>
      </form>
    </p>

  </div>
</div>
{% endblock %}

{% block extra_body %}
<!-- Bootstrap core JavaScript-->
<script src="{{ STATIC_URL }}vendor/jquery/jquery.min.js"></script>
<script src="{{ STATIC_URL }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="{{ STATIC_URL }}vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="{{ STATIC_URL }}vendor/chart.js/Chart.min.js"></script>
<script src="{{ STATIC_URL }}vendor/datatables/jquery.dataTables.js"></script>
<script src="{{ STATIC_URL }}vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="{{ STATIC_URL }}js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<!-- <script src="{{ STATIC_URL }}js/demo/datatables-demo.js"></script> -->
<!-- <script src="{{ STATIC_URL }}js/demo/chart-area-demo.js"></script> -->

{% endblock %}
