{% extends 'core/base.html' %}
{% block title %} Dashboard {% endblock %}

{% block extra_head %}
{% endblock %}

{% block crumbs %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'core_list_employees' %}">Employees</a></li>
    <li class="breadcrumb-item active">{{ employee.get_full_name }}</li>
{% endblock crumbs %}

{% block content %}
<div class="container-fluid">

  <div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-pills">
            <li><a href="{% url 'core_edit_employee' employee.pk %}">Edit</a></li>
        </ul>
    </div>
  </div>

  <!-- Page Content -->
  <h1>{{ employee.get_full_name }}</h1>
  <hr>
  <p>{{ employee.designation }}</p>

  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fields</th>
      <th scope="col">Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Employee ID</td>
      <td>{{ employee.employee_id }}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>First Name</td>
      <td>{{ employee.first_name}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Last Name</td>
      <td>{{ employee.last_name}}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Designation</td>
      <td>{{ employee.designation}}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Status</td>
      <td>
        {% if employee.is_active %}
        <span class="badge badge-success">Active</span>
        {% else %}
        <span class="badge badge-danger">Inactive</span>
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>

</div>
{% endblock %}

{% block extra_body %}
<!-- Bootstrap core JavaScript-->
<script src="{{ STATIC_URL }}vendor/jquery/jquery.min.js"></script>
<script src="{{ STATIC_URL }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="{{ STATIC_URL }}vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="{{ STATIC_URL }}vendor/chart.js/Chart.min.js"></script>
<script src="{{ STATIC_URL }}vendor/datatables/jquery.dataTables.js"></script>
<script src="{{ STATIC_URL }}vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="{{ STATIC_URL }}js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="{{ STATIC_URL }}js/demo/datatables-demo.js"></script>
<script src="{{ STATIC_URL }}js/demo/chart-area-demo.js"></script>

{% endblock %}
